<html>
  <head>
		<title>Characteristics</title>
	<style>
body
{
background-color:rosybrown;
}
div.h1 {
	color:lightcoral;
	text-align:center;
	margin:auto;
	width:350px;	
	background:lavenderblush;
	margin-bottom:3em;
	margin-top:3em;	
	padding:0.5em 0;
	font-size: 20px;	
}
div.body
{
	text-align:left;
	width:1100px;	
	margin-left: auto;
	background: white;
	margin-bottom:3em;
	margin-top:3em;
	margin-right:3em;	
	padding:0.5em 1em;
}
div.nav
{
	width: 140px;
	text-align:center;
	float:left;
	margin-top:20em;
	background:lavenderblush;
	margin:auto;
	padding:5em 0;	
}
a { 
	color:violetred;
	font-family:"Calibri"; 
}
a:visited { 
	color:violetred; 
	font-family:"Calibri"; 
}
p
{
font-family:"Verdana";
font-size:15px;
}
h2
{
	color:violetred;
	font-family:"Verdana";
}

</style>
  </head>
		<div class="h1">
		<h1>Characteristics</h1>
		</div>
		<div class="nav">
		<nav>
			<a href="/">Home</a> 
			<br><a href="/History/">History</a> </br>
			<a href="/Health/">Health</a>  
			<a href="/Characteristics/">Characteristics</a>
	    </nav>
		</div>
		
     <body>
	 <section>
	 <div class="body">
	 <p>The Cavalier King Charles Spaniel is one of the largest toy breeds. Historically it was a lap dog, and modern day adults can fill a lap easily. 
	 Nonetheless, it is small for a spaniel, with fully grown adults comparable in size to adolescents of other larger spaniel breeds. 
	 Breed standards state that height of a Cavalier should be between 12 to 13 inches (30 to 33 cm) with a proportionate weight between 10 to 18 pounds (4.5 to 8.2 kg). 
	 The tail is usually not docked, and the Cavalier should have a silky coat of moderate length. Standards state that it should be free from curl, although a slight wave is allowed. 
	 Feathering can grow on their ears, feet, legs and tail in adulthood. Standards require this be kept long, with the feathering on the feet a particularly important aspect of the breed's features.</p>
	<p>The Cavalier King Charles Spaniel and the English Toy Spaniel can be often confused with each other. In the United Kingdom, the English Toy Spaniel is called the King Charles Spaniel while in the United States, one of the colours of the Toy Spaniel is known as King Charles.
	 The two breeds share similar history and only diverged from each other about 100 years ago. There are several major differences between the two breeds, with the primary difference being the size.
	 While the Cavalier weighs on average between 10 to 18 pounds (4.5 to 8.2 kg), the King Charles is smaller at 9 to 12 pounds (4.1 to 5.4 kg). In addition their facial features while similar, are different; the Cavalier's ears are set higher and its skull is flat while the King Charles's is domed.
	 Finally the muzzle length of the Cavalier tends to be longer than that of its King Charles cousin.</p>
	 <br></br>
	<center>
	<h2>Colour</h2>
	</center>
	<p>The breed has four recognized colours. Cavaliers which have rich chestnut markings on a pearly white background are known as Blenheim in honour of Blenheim Palace, where John Churchill, 1st Duke of Marlborough, raised the predecessors to the Cavalier breed in this particular colour. 
	In some dogs there is a chestnut spot in the middle of the forehead: this is called the "blenheim" spot. Black and Tan are dogs with black bodies with tan highlights, particularly eyebrows, cheeks, legs and beneath the tail.
	Black and Tan is referred to as "King Charles" in the King Charles Spaniel. Ruby Cavaliers should be entirely chestnut all over, although some can have some white in their coats which is considered a fault under American Kennel Club conformation show rules.
	The fourth colour is known as Tricolour, which is black and white with tan markings on cheeks, inside ears, on eyebrows, inside legs, and on underside of tail.
	This colour is referred to as "Prince Charles" in the King Charles Spaniel.</p>
	
	<img src="http://www.cruisincavaliers.com/Teddy/16weeks-Teddy1.jpg" height="350" width="300" title="Ruby">
	<img src="http://www.thekingscavaliers.com/images/istock-tricolor.jpg" height="350" width="230" title="Tricolor">
	<img src="http://distilleryimage11.s3.amazonaws.com/8c359b023c8011e286fe22000a1f9ac6_7.jpg" height="350" width="300" title="Blenheim">
	<img src="http://upload.wikimedia.org/wikipedia/commons/0/09/Cavalier-king-charles.jpg" height="350" width="250" title="Black & Tan">
	
	
	<br></br>
	<center>
	<h2>Popularity</h2>
	</center>
	<p>According to statistics released by The Kennel Club, Cavaliers were the sixth most popular dog in the United Kingdom in 2007 with 11,422 registrations in a single year.
	Labrador Retrievers were the most popular with 45,079 registrations in that year. Their popularity is on the rise in America; in 1998 they were the 56th most popular breed but in both 2007 and 2008 they were the 25th most popular.
	They ranked higher in some individual US cities in the 2008 statistics, being eighth in both Nashville and Minneapolis-St.Paul, seventh in Boston, Atlanta and Washington D.C., and sixth in both New York City and San Francisco.
	In 2009, the Cavalier was the fourth most popular breed in Australia with 3,196 registrations behind only Labrador Retrievers, German Shepherd Dogs and Staffordshire Bull Terriers.
	In addition, there are also national breed clubs in Belgium, Canada, Czech Republic, Denmark, Finland, France, Germany, Netherlands, New Zealand, Norway, South Africa, Spain and Sweden.</p>
	<br></br>
	<center>
	<h2>Temperament</h2>
	</center>
	<p>The breed is highly affectionate, playful, extremely patient and eager to please. As such, dogs of the breed are good with children and other dogs. Cavaliers are not shy about socialising with much larger dogs.
	They will adapt quickly to almost any environment, family, and location. Their ability to bond with larger and smaller dogs makes them ideal in houses with more than one breed of dog as long as the other dog is trained. 
	The breed is great with people of all ages, from children to seniors, making them a very versatile dog. Cavaliers rank 44th in Stanley Coren's The Intelligence of Dogs, being of average intelligence in working or obedience. 
	Cavaliers are naturally curious and playful, but also enjoy simply cuddling up on a cushion or lap, making them excellent companion or lap dogs for medical patients and the elderly.</p>
	<p>Cavaliers are active and sporting. They have an instinct to chase most things that move including vehicles on busy streets, and so most Cavaliers will never become "street-wise".
	As they tend to regard all strangers as friends, members of the breed will usually not make good guard dogs. Spaniels have a strong hunting instinct and may endanger birds and small animals. 
	However, owners have reported that through training their Cavaliers live happily with a variety of small animals including hamsters and gerbils.</p>
	
	</div>
	</section>
	</body>	

</html>
