<html>
  <head>
		<title>Health</title>
	<style>
body
{
background-color:pink;
}
div.arrondi h1 {
	color:deeppink;
	margin:1em;
	text-align:center;
	border-radius:30px;
}
div.arrondi
{
	width:250px;
	background:linen;
	margin-bottom:3em;
	margin-top:3em;
	margin:auto;
	padding:0.5em 0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:10px;	
	text-align:center;
}
a { 
	color:white; 
	font-family:Arial; 
}
a:visited { 
	color:white; 
	font-family:Arial; 
}
p
{
font-family:"Verdana";
font-size:15px;
}
h2
{
	color:violetred;
	font-family:"Verdana";
}
div.footer {
			background-color	: linen;
			bottom 				: 2px;
			left				: 10px;
			right				: 10px;
			height				: 30px;
			margin-bottom:0.5em;
			margin-top: 2em;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:10px;
}
</style>
  </head>
		<div class="arrondi">
		<h1>Health</h1>
		</div>
		<nav>
			<a href="/">Home</a> >
			<a href="/History/">History</a>   
	    </nav>
		
     <body>
	 <section>
		<p>Cavaliers can often suffer from some serious genetic health problems, including early-onset mitral valve disease (MVD), the potentially severely painful syringomyelia (SM), hip dysplasia, luxating patellas, and certain vision and hearing disorders.</p>
        <p>As today's Cavaliers all descend from only six dogs, any inheritable disease present in at least one of the original founding dogs can be passed on to a significant proportion of future generations.</p>
        <p>This is known as the founder effect and is the likely cause of the prevalence of MVD in the breed.</p>
        <p>The health problems shared with this breed include mitral valve disease, luxating patella, and hereditary eye issues such as cataracts and retinal dysplasia.</p>
		<center>
		<img src="http://upload.wikimedia.org/wikipedia/commons/a/a9/Aid4.jpg" height="250" width="350">
		</center>
	</section>
	<section>
		<h2> Mitral valve disease</h2>
		<p>Nearly all Cavaliers eventually suffer from disease of the mitral valve, with heart murmurs which may progressively worsen, leading to heart failure.</p>
        <p>This condition is polygenic (affected by multiple genes), and therefore all lines of Cavaliers worldwide are susceptible.</p>
        <p>It is the leading cause of death in the breed. A survey by The Kennel Club of the United Kingdom showed that 42.8% of Cavalier deaths are cardiac related.</p>
        <p>The next most common causes are cancer (12.3%) and old age (12.2%). The condition can begin to emerge at an early age and statistically may be expected to be present in more than half of all Cavalier King Charles Spaniels by age 5.</p>
        <p>It is rare for a 10-year-old Cavalier not to have a heart murmur. While heart disease is common in dogs generally – one in 10 of all dogs will eventually have heart problems – mitral valve disease is generally (as in humans) a disease of old age.</p>
        <p>The "hinge" on the heart's mitral valve loosens and can gradually deteriorate, along with the valve's flaps, causing a heart murmur (as blood seeps through the valve between heartbeats) then congestive heart failure.</p>
        <p>The Cavalier is particularly susceptible to early-onset heart disease, which may be evident in dogs as young as one or two years of age.</p>
        <p>Veterinary geneticists and cardiologists have developed breeding guidelines to eliminate early-onset mitral valve disease in the breed, but it is unclear if a statistically significant number of breeders follow these guidelines.</p>
        <p>The chairperson of the UK CKCS Club has said that "There are many members who are still not prepared to health check their breeding stock, and of those who do, it would appear that many would not hesitate to breed from affected animals."</p>
        <p>The MVD breeding protocol recommends that parents should be at least 2.5 years old and heart clear, and their parents (i.e., the puppy's grandparents) should be heart clear until age 5.</p>
		<center>
		<img src="http://cavalierkingcharlesspanielpuppy.com/images/puppies.jpg" height="250" width="450">
		</center>
	</section>
	<section>
		<h2> Eye problems </h2>
		<p>A disorder commonly found in Cavaliers is keratoconjunctivitis sicca, colloquially known as "dry eye". The usual cause of this condition is an autoimmune reaction against the dog's lacrimal gland (tear gland), reducing the production of tears.</p>
        <p>According to the Canine Inherited Disorders Database, the condition requires continual treatment and if untreated may result in partial or total blindness. This disorder can decrease or heal over time.</p>
        <p>A 1999 study of Cavaliers conducted by the Canine Eye Registration Foundation showed that an average of 30% of all Cavalier King Charles Spaniels evaluated had eye problems.</p>
        <p>They include hereditary cataracts, corneal dystrophy, distichiasis, entropion, microphthalmia, progressive retinal atrophy, and retinal dysplasia.</p>
	</section>
	<section>
		<h2> Ear disorders</h2>
		<p>Primary Secretory Otitis Media (PSOM), also known as glue ear, consists of a highly viscous mucus plug which fills the dog's middle ear and may cause the tympanic membrane to bulge.</p>
        <p>PSOM has been reported almost exclusively in Cavaliers, and it may affect over half of them. Because the pain and other sensations in the head and neck areas, resulting from PSOM, are similar to some symptoms caused by syringomyelia (SM), some examining veterinarians have mis-diagnosed SM in Cavaliers which actually have PSOM and not SM.</p>
        <p>Cavalier King Charles Spaniels may be predisposed to a form of congenital deafness, which is present at birth, due to a lack of formation or early degeneration of receptors in the inner ear, although this is relatively rare.</p>
        <p>In addition, more recent studies have found Cavaliers that develop a progressive hearing loss, which usually begins during puppyhood and progresses until the dog is completely deaf, usually between the ages of three and five years.</p>
        <p>The progressive nature of this form of deafness in Cavaliers is believed to be caused by degeneration of the hearing nerve rather than the lack of formation or early degeneration of the inner ear receptors.</p>
	</body>
	
	
	
	<div class="footer">
  Posted by: Elisa Laude <time pubdate datetime></time>
	</div>
</html>
